.booking_form,
.choices_form {
    width: 75%;
    background-color: #0390fc;
    padding: 10px;
    margin: 0 auto;
}

.booking_confirmed {
    width: 75%;
    background-color: #149c22;
    padding: 10px;
    margin: 0 auto;
}

.wrapperMain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminAuthWrapper {
    height: 100vh;
}

.login-form {
    width: 75%;
    background-color: #0390fc;
    margin: 0 auto;
}

#nav-main {
    position: fixed;
    top: 0px;
    width: 100%;
}
